{#<br/><br/>
<div class="footer">
	<div class="copyrights">
		{{ __("Copyright")|e }} &#169; {{ copyright_date|e }} - {{ site_title|e }} {{ __("Powered by") }} <a href="{{ app_author_url|e }}">{{ app_author|e }}</a>
	</div>

</div>#}