{# include header template #}
{% include 'header.sec.twig' with {'tpl': 'expenses-list', 'model' : 'expenses-list'} %}

{# include top menu template #}
{% include 'top-menu.sec.twig' with {'tpl': 'expenses-list', 'model' : 'expenses-list'} %}

{# include side menu template #}
{% include 'side-menu.sec.twig' with {'tpl': 'expenses-list', 'model' : 'expenses-list'} %}


    <section class="main-content-wrapper">

        <div class="ui stackable grid">

            <div class="sixteen wide column">
                <div class="metabox blue">
                    <div class="metabox-body">
                        <h4 class="font-light m-b-xs"><i class="fa fa-fw fa-cart-plus"></i> {{ __("Expenses") }}</h4>

                        {% if check_perm('add.expenses') %}
                            <a href="{{ route_to_url('/admin/expenses/add')|e }}" class="ui circular icon button add_nrecord" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Add Expense")|e('html_attr') }}">
                                <i class="plus icon"></i>
                            </a>
                        {% endif %}

                    </div>
                </div>
            </div>



            <div class="sixteen wide column">
                <div class="metabox">
                    <div class="metabox-body">

                            <table class="ui selectable table stackable data_table">
                                <thead>
                                    <tr>
                                        <th>{{ __("Title")|e }}</th>
                                        <th>{{ __("Type")|e }}</th>
                                        <th>{{ __("Total")|e }} ({{ site_currency|e }})</th>
                                        <th>{{ __("Created at")|e }}</th>
                                        <th>{{ __("Actions")|e }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for expense in expenses %}
                                        <tr>
                                            <td>{{ expense.terms.title|e }}</td>
                                            <td>{{ expense.nice_status|e }}</td>
                                            <td>{{ expense.total|e }}</td>
                                            <td>{{ date_to_diff(expense.created_at)|e }}</td>
                                            <td>
                                                {% if check_perm('view.expenses') %}
                                                    <a href="{{ expense.view_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("View Expense")|e('html_attr') }}">
                                                        <i class="linkify icon"></i>
                                                    </a>
                                                {% endif %}

                                                {% if check_perm('edit.expenses') %}
                                                    <a href="{{ expense.edit_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Edit Expense")|e('html_attr') }}">
                                                        <i class="write icon"></i>
                                                    </a>
                                                {% endif %}

                                                {% if check_perm('delete.expenses') %}
                                                    <a href="{{ expense.trash_link|e }}" class="ui circular icon button delete_expense" data-id="{{ expense.in_id|e('html_attr') }}" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Delete Expense")|e('html_attr') }}">
                                                        <i class="remove icon"></i>
                                                    </a>
                                                {% endif %}

                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                    </div>
                </div>
            </div>



        </div>

    </section>

{# include bottom menu template #}
{% include 'bottom-menu.sec.twig' with {'tpl': 'expenses-list', 'model' : 'expenses-list'} %}


{# include footer template #}
{% include 'footer.sec.twig' with {'tpl': 'expenses-list', 'model' : 'expenses-list'} %}