{# include header template #}
{% include 'header.sec.twig' with {'tpl': 'login', 'model' : 'login'} %}

<div class="login-page-container">
    <div class="ui grid">

        <div class="sixteen wide column center aligned">
            <a href="{{ route_to_url('/')|e }}"><img src="{{ file_url(site_logo, default_theme_assets_url('/img/logo.png'))|e }}" width="110" style="opacity:0.7;" /></a>
        </div>

        <div class="sixteen wide column">
            <div class="metabox">
                <div class="metabox-body">
                    {% if social_login == 'on' %}
                        <div class="ui grid">
                            <div class="sixteen wide column center aligned">
                                {% if facebook_login == 'on' %}
                                    <a href="{{ route_to_url('/request/frontend/direct/auth/facebook')|e }}" class="ui circular facebook icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Login with Facebook")|e('html_attr') }}">
                                    <i class="facebook icon"></i>
                                    </a>
                                {% endif %}

                                {% if twitter_login == 'on' %}
                                    <a href="{{ route_to_url('/request/frontend/direct/auth/twitter')|e }}" class="ui circular twitter icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Login with Twitter")|e('html_attr') }}">
                                    <i class="twitter icon"></i>
                                    </a>
                                {% endif %}

                                {% if google_login == 'on' %}
                                    <a href="{{ route_to_url('/request/frontend/direct/auth/google')|e }}" class="ui circular google plus icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Login with Google")|e('html_attr') }}">
                                    <i class="google plus icon"></i>
                                    </a>
                                {% endif %}

                            </div>
                        </div>

                        <div class="ui horizontal divider">
                          {{ __("OR") }}
                        </div>
                    {% endif %}

                    {% if error != '' %}
                        <div id="login_alert" class="ui negative small message">
                            <i class="close icon"></i>
                            <div class="header">
                                {{ error|e }}
                            </div>
                        </div>
                    {% endif %}
                    {% if alerts != '' %}
                        <div id="login_alert" class="ui negative small message">
                            <i class="close icon"></i>
                            <div class="header">
                                {{ alerts|e }}
                            </div>
                        </div>
                    {% endif %}

                    <form class="ui form" action="{{ route_to_url('/request/frontend/ajax/login')|e }}" method="post">
                        <div class="required field">
                            <label>{{ __("Username or Email") }}</label>
                            <input type="text" name="login_username" required>
                        </div>
                        <div class="required field">
                            <label>{{ __("Password") }}</label>
                            <input type="password" name="login_password" required>
                        </div>

                        <div class="required field">
                            <div class="ui checkbox">
                                <input type="checkbox" tabindex="0" name="login_remember_me" value="1" class="hidden">
                                <label>{{ __("Remember Me")|e }}</label>
                            </div>
                        </div>
                        <button class="tiny ui primary button" type="submit">{{ __("Submit") }}</button>
                        <button class="tiny ui button" type="reset">{{ __("Cancel") }}</button>
                    </form>
                    {{ demo_data() }}
                    <div class="ui horizontal divider">
                      {{ __("OR") }}
                    </div>
                    <div class="ui grid">
                        <div class="sixteen wide column center aligned">
                            <a href="{{ route_to_url('/fpwd')|e }}" class="tiny ui button">{{ __("Forgot Password") }}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{# include footer template #}
{% include 'footer.sec.twig' with {'tpl': 'login', 'model' : 'login'} %}