{# include header template #}
{% include 'header.sec.twig' with {'tpl': 'projects-add', 'model' : 'projects-add'} %}

{# include top menu template #}
{% include 'top-menu.sec.twig' with {'tpl': 'projects-add', 'model' : 'projects-add'} %}

{# include side menu template #}
{% include 'side-menu.sec.twig' with {'tpl': 'projects-add', 'model' : 'projects-add'} %}

    <section class="main-content-wrapper">

        <div class="ui stackable grid">

            <div class="sixteen wide column">
                <div class="metabox blue">
                    <div class="metabox-body">
                        <h4 class="font-light m-b-xs"><i class="fa fa-fw fa-folder"></i> {{ __("Projects") }}</h4>
                    </div>
                </div>
            </div>

            <div class="sixteen wide column">
                <div class="metabox">
                    <div class="metabox-heading">{{ __("Add Project") }}</div>
                    <div class="metabox-body">

                        <form class="ui form" method="post" action="{{ add_project_action|e }}">
                            {{ nonce_form() }}

                            <div class="field required">
                                <label>{{ __("Title") }}</label>
                                <input type="text" name="project_title">
                            </div>

                            <div class="field required">
                                <label>{{ __("Description") }}</label>
                                <textarea name="project_description" rows="2"></textarea>
                            </div>

                            <div class="field required">
                                <label>{{ __("Version") }}</label>
                                <input type="text" name="project_version">
                            </div>

                            <div class="field required">
                                <label>{{ __("Status") }}</label>
                                <select name="project_status" class="ui dropdown">
                                    <option value="1">{{ __("Pending") }}</option>
                                    <option value="2">{{ __("In Progress") }}</option>
                                    <option value="3">{{ __("Overdue") }}</option>
                                    <option value="4">{{ __("Done") }}</option>
                                    <option value="5">{{ __("Archived") }}</option>
                                </select>
                            </div>


                            <div class="field required">
                                <label>{{ __("Clients") }}</label>
                                <select name="project_clients" multiple="" class="ui fluid dropdown">
                                    <option value="">{{ __("Select Clients") }}</option>
                                    {% for member in members_list %}
                                        {% if member.access_rule == '3' %}
                                            <option value="{{ member.us_id|e('html_attr') }}">{{ member.full_name|e('html_attr') }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="field required">
                                <label>{{ __("Staff") }}</label>
                                <select name="project_staff" multiple="" class="ui fluid dropdown">
                                    <option value="">{{ __("Select Staff") }}</option>
                                    {% for member in members_list %}
                                        {% if member.access_rule != '3' %}
                                            <option value="{{ member.us_id|e('html_attr') }}">{{ member.full_name|e('html_attr') }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field required">
                                <div class="two fields">
                                    <div class="field required">
                                        <label>{{ __("Discount Type")|e }}</label>
                                        <select name="project_discount_type" class="ui dropdown">
                                            <option value="off" selected>{{ __("Off") }}</option>
                                            <option value="percent">{{ __("% Discount") }}</option>
                                            <option value="flat">{{ __("Flat Discount") }}</option>
                                        </select>
                                    </div>

                                    <div class="field required">
                                        <label>{{ __("Discount")|e }}</label>
                                        <input name="project_discount_value" type="text" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="three fields">
                                    <div class="field required">
                                        <label>{{ __("Tax Type")|e }}</label>
                                        <select name="project_tax_type" class="ui dropdown">
                                            <option value="off" selected>{{ __("Off") }}</option>
                                            <option value="percent">{{ __("% Tax") }}</option>
                                            <option value="flat">{{ __("Flat Tax") }}</option>
                                        </select>
                                    </div>

                                    <div class="field required">
                                        <label>{{ __("Select Tax")|e }}</label>
                                        <select name="project_tax_select" class="ui dropdown">>
                                            <option value="">{{ __("Select Tax") }}</option>
                                            {% for tax in taxes_list %}
                                                <option value="{{ tax.value|e('html_attr') }}">{{ tax.name|e }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="field required">
                                        <label>{{ __("Tax")|e }}</label>
                                        <input name="project_tax_value" type="text" value="0">
                                    </div>
                                </div>
                            </div>

                            <div class="field required">
                                <label>{{ __("Budget") }} ({{ site_currency|e }})</label>
                                <input type="text" name="project_budget">
                            </div>

                            <div class="field required">
                                <label>{{ __("Start at") }}</label>
                                <input type="text" class="datepicker" name="project_start_at">
                            </div>

                            <div class="field required">
                                <label>{{ __("End at") }}</label>
                                <input type="text" class="datepicker" name="project_end_at">
                            </div>

                            <button class="ui primary button" type="submit">{{ __("Submit") }}</button>
                            <button class="ui button" type="reset">{{ __("Cancel") }}</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>

    </section>

{# include bottom menu template #}
{% include 'bottom-menu.sec.twig' with {'tpl': 'projects-add', 'model' : 'projects-add'} %}

{# include footer template #}
{% include 'footer.sec.twig' with {'tpl': 'projects-add', 'model' : 'projects-add'} %}