{# Render Members #}
{% if members is defined %}
	{% for member in members %}
		<div class="four wide column" style="display:none">
            <div class="metabox red">
                <div class="metabox-body center-align">
                   <img class="ui circular centered image m-b m-t-md" data-default="{{ gravatar(member.email, member.grav_id, 128)|e }}" src="{{ gravatar(member.email, member.grav_id, 128)|e }}" style="width:76px">

                    <div class="font-bold m-b-xs">{{ member.nice_name|e }}</div>

                    <p>{{ member.job|e }}</p>
                    {% if member.access_rule == '1' %}
                        {{ __("Administrator") }}
                    {% endif %}
                    {% if member.access_rule == '2' %}
                        {{ __("Staff") }}
                    {% endif %}
                    {% if member.access_rule == '3' %}
                        {{ __("Client") }}
                    {% endif %}
                </div>

                {% if member.access_rule == '3' and current_user_access_rule == '2' %}
                    {% if check_perm('view.clients') or check_perm('edit.clients') or check_perm('delete.clients')  %}
                        <div class="metabox-footer contact-footer center-align">

                            {% if check_perm('view.clients') %}
                                <a href="{{ member.view_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("View Member")|e('html_attr') }}">
                                    <i class="linkify icon"></i>
                                </a>
                            {% endif %}

                            {% if check_perm('edit.clients') %}
                                <a href="{{ member.edit_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Edit Member")|e('html_attr') }}">
                                    <i class="write icon"></i>
                                </a>
                            {% endif %}

                            {% if check_perm('delete.clients') %}
                                <a href="{{ member.delete_link|e }}" class="ui circular icon button delete_member" data-id="{{ member.us_id|e('html_attr') }}" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Delete Member")|e('html_attr') }}">
                                    <i class="remove user icon"></i>
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}
               {% endif %}

                {% if current_user_access_rule == '1' %}
                    <div class="metabox-footer contact-footer center-align">

                        <a href="{{ member.view_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("View Member")|e('html_attr') }}">
                            <i class="linkify icon"></i>
                        </a>

                        <a href="{{ member.edit_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Edit Member")|e('html_attr') }}">
                            <i class="write icon"></i>
                        </a>

                        <a href="{{ member.delete_link|e }}" class="ui circular icon button delete_member" data-id="{{ member.us_id|e('html_attr') }}" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Delete Member")|e('html_attr') }}">
                            <i class="remove user icon"></i>
                        </a>

                    </div>
                {% endif %}

            </div>
		</div>
	{% endfor %}
{% endif %}


{# Render Projects #}
{% if projects is defined %}
	{% for project in projects %}
                <div class="eight wide column">
                    <div class="metabox red">
                        <div class="metabox-body project_item">

                            <div class="ui stackable grid">
                                <div class="sixteen wide column">

                                    <h4><a href="{{ project.view_link|e }}">{{ project.title|e }}</a></h4>
                                    <p>{{ project.description|e }}</p>

                                    <div class="ui stackable grid">
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("BUDGET") }}</div>
                                            <p>{{ site_currency|e }}{{ project.budget|e }}</p>
                                        </div>
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("VERSION") }}</div>
                                            <p>{{ project.version|e }}</p>
                                        </div>
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("DEADLINE") }}</div>
                                            <p>{{ project.end_at|e }}</p>
                                        </div>
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("PROGRESS") }}</div>
                                            <div class="ui tiny indicating progress active" data-percent="{{ project.progress|e('html_attr') }}">
                                                <div class="bar" style="transition-duration: 300ms; width: {{ project.progress|e('html_attr') }}%;"></div>
                                                <div class="label">{{ project.progress|e }}%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui stackable grid">
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("ADMIN") }}</div>
                                            <div class="project-people">
                                                {% for owner in project.owners %}
                                                    <img class="ui avatar image" title="{{ owner.full_name|e('html_attr') }}" src="{{ gravatar(owner.email, owner.grav_id, 128)|e }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="eight wide column">
                                            <div class="project-label">{{ __("STAFF") }}</div>
                                            <div class="project-people">
                                                {% for staff in project.staff %}
                                                    <img class="ui avatar image" title="{{ staff.full_name|e('html_attr') }}" src="{{ gravatar(staff.email, staff.grav_id, 128)|e }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="four wide column">
                                            <div class="project-label">{{ __("CLIENTS") }}</div>
                                            <div class="project-people">
                                                {% for client in project.clients %}
                                                    <img class="ui avatar image" title="{{ client.full_name|e('html_attr') }}" src="{{ gravatar(client.email, client.grav_id, 128)|e }}">
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="metabox-footer contact-footer center-align">

                            <a href="{{ project.view_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("View Project")|e('html_attr') }}">
                                <i class="linkify icon"></i>
                            </a>
                            {% if current_user_access_rule == '1' %}
                                <a href="{{ project.edit_link|e }}" class="ui circular icon button" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Edit Project")|e('html_attr') }}">
                                    <i class="write icon"></i>
                                </a>
                            {% endif %}

                            {% if current_user_access_rule == '1' %}
                                <a href="{{ project.delete_link|e }}" class="ui circular icon button delete_project" data-id="{{ project.pr_id|e('html_attr') }}" data-toggle="popup" data-variation="small" data-position="top center" data-content="{{ __("Delete Project")|e('html_attr') }}">
                                    <i class="remove user icon"></i>
                                </a>
                            {% endif %}

                        </div>

                    </div>
                </div>
	{% endfor %}
{% endif %}